@page "/"
@using SinusWebShop.Client.Models
@using SinusWebShop.Client.Services
@inject IProductService ProductService
@rendermode InteractiveServer

<h3>Produkter</h3>

@if (products == null)
{
    <p><em>Laddar...</em></p>
}
else
{
    foreach (var product in products)
    {
        <div>
            <h4>@product.Title</h4>
            <p>@product.Description</p>
            <p>Pris: @product.Price kr</p>
            <p>Rabatt: @product.DiscountPercentage %</p>
            <p>Betyg: @product.Rating</p>
            <p>Märke: @product.Brand</p>
            <p>Kategori: @product.Category</p>
        </div>
    }
}

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProductsAsync();
    }
}
